<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Reports Path="\App_Data\report\成品\" />
  <FastReport>
    <UserInfo>yuangong.frx</UserInfo>
    <Management>
      <!--经营分析-->
        <ORG ORGNAME="广东"  ORGID="11026426">工厂模式-窦华.frx</ORG>
        <ORG ORGNAME="四川"  ORGID="11026240">工厂模式-各个实业部.frx</ORG>
        <ORG ORGNAME="test"  ORGID="2">工厂模式-冷库.frx</ORG>
        <ORG ORGNAME="四川"  ORGID="3">工厂模式-卢国军.frx</ORG>
        <ORG ORGNAME="四川"  ORGID="4">工厂模式-卢占军.frx</ORG>
    </Management>
    <KPI>绩效考核表.frx</KPI>
    <BranchProfit>门店盈利分析.frx</BranchProfit>
  </FastReport>
</Config>