<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="USP.Service.ICaptchaService, USP" mapTo="USP.Service.Impl.CaptchaService, USP">
        <constructor>
          <param name="chars">
            <value value="0123456789" />
          </param>
          <param name="background">
            <value value="#eee" />
          </param>
          <param name="color">
            <value value="#205AA7" />
          </param>
          <param name="length">
            <value value="4" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register type="USP.Dal.ISysAreaDal, USP" mapTo="USP.Dal.Impl.SysAreaDal, USP" />
      <register type="USP.Service.ISysAreaService, USP" mapTo="USP.Service.Impl.SysAreaService, USP" />
      <register type="USP.Bll.ISysAreaBll, USP" mapTo="USP.Bll.Impl.SysAreaBll, USP" />

      <register type="USP.Service.ISystemService, USP" mapTo="USP.Service.Impl.SystemService, USP" />
      <register type="USP.Bll.ISystemBll, USP" mapTo="USP.Bll.Impl.SystemBll, USP" />

      <register type="USP.Dal.ISysOperatorDal, USP" mapTo="USP.Dal.Impl.SysOperatorDal, USP" />
      <register type="USP.Service.ISysOperatorService, USP" mapTo="USP.Service.Impl.SysOperatorService, USP" />
      <register type="USP.Bll.ISysOperatorBll, USP" mapTo="USP.Bll.Impl.SysOperatorBll, USP" />
      
      <register type="USP.Dal.ISysSkinDal, USP" mapTo="USP.Dal.Impl.SysSkinDal, USP" />
      <register type="USP.Bll.ISysSkinBll, USP" mapTo="USP.Bll.Impl.SysSkinBll, USP" />
      
      <!--菜单-->
      <register type="USP.Dal.ISysMenuDal, USP" mapTo="USP.Dal.Impl.SysMenuDal, USP" />
      <!--菜单模块-->
      <register type="USP.Bll.ISysMenuBll, USP" mapTo="USP.Bll.Impl.SysMenuBll, USP" />
      <register type="USP.Service.ISysMenuService, USP" mapTo="USP.Service.Impl.SysMenuService, USP" />

      <!--权限管理-->
      <register type="USP.Dal.ISysPrivilegeDal, USP" mapTo="USP.Dal.Impl.SysPrivilegeDal, USP" />
      <register type="USP.Service.ISysPrivilegeService, USP" mapTo="USP.Service.Impl.SysPrivilegeService, USP" />
      <register type="USP.Bll.ISysPrivilegeBll, USP" mapTo="USP.Bll.Impl.SysPrivilegeBll, USP" />

      <!--角色管理-->
      <register type="USP.Dal.ISysRoleDal, USP" mapTo="USP.Dal.Impl.SysRoleDal, USP" />
      <register type="USP.Bll.ISysRoleBll, USP" mapTo="USP.Bll.Impl.SysRoleBll, USP" />

      <!--公司管理-->
      <register type="USP.Dal.ISysCorpDal, USP" mapTo="USP.Dal.Impl.SysCorpDal, USP" />
      <register type="USP.Bll.ISysCorpBll, USP" mapTo="USP.Bll.Impl.SysCorpBll, USP" />

      <register type="USP.Dal.ISysCorpFeeTypeDal, USP" mapTo="USP.Dal.Impl.SysCorpFeeTypeDal, USP" />
      <register type="USP.Bll.ISysCorpFeeTypeBll, USP" mapTo="USP.Bll.Impl.SysCorpFeeTypeBll, USP" />

      <register type="USP.Dal.ISysCorpTypeDal, USP" mapTo="USP.Dal.Impl.SysCorpTypeDal, USP" />
      <register type="USP.Bll.ISysCorpTypeBll, USP" mapTo="USP.Bll.Impl.SysCorpTypeBll, USP" />

      <register type="USP.Dal.ISysCorpGradeDal, USP" mapTo="USP.Dal.Impl.SysCorpGradeDal, USP" />
      <register type="USP.Bll.ISysCorpGradeBll, USP" mapTo="USP.Bll.Impl.SysCorpGradeBll, USP" />

      <register type="USP.Dal.ISysCorpVocationDal, USP" mapTo="USP.Dal.Impl.SysCorpVocationDal, USP" />
      <register type="USP.Bll.ISysCorpVocationBll, USP" mapTo="USP.Bll.Impl.SysCorpVocationBll, USP" />

      <register type="USP.Dal.ISysCorpStatusDal, USP" mapTo="USP.Dal.Impl.SysCorpStatusDal, USP" />
      <register type="USP.Bll.ISysCorpStatusBll, USP" mapTo="USP.Bll.Impl.SysCorpStatusBll, USP" />

      <register type="USP.Service.IDropDownListService, USP" mapTo="USP.Service.Impl.DropDownListService, USP" />

      <!--权限模板-->
      <register type="USP.Dal.ISysPrivilegeTemplateDal, USP" mapTo="USP.Dal.Impl.SysPrivilegeTemplateDal, USP" />
      <register type="USP.Bll.ISysPrivilegeTemplateBll, USP" mapTo="USP.Bll.Impl.SysPrivilegeTemplateBll, USP" />

      <!--登录日志-->
      <register type="USP.Dal.ISysLoginLogDal, USP" mapTo="USP.Dal.Impl.SysLoginLogDal, USP" />
      <register type="USP.Bll.ISysLoginLogBll, USP" mapTo="USP.Bll.Impl.SysLoginLogBll, USP" />

      <!--common-->
      <register type="USP.Dal.ISysAreaDal, USP" mapTo="USP.Dal.Impl.SysAreaDal, USP" />
      <register type="USP.Service.ISysAreaService, USP" mapTo="USP.Service.Impl.SysAreaService, USP" />
      <register type="USP.Bll.ISysAreaBll, USP" mapTo="USP.Bll.Impl.SysAreaBll, USP" />

      <!--权菜单模板-->
      <register type="USP.Dal.ISysMenuTemplateDal, USP" mapTo="USP.Dal.Impl.SysMenuTemplateDal, USP" />
      <register type="USP.Bll.ISysMenuTemplateBll, USP" mapTo="USP.Bll.Impl.SysMenuTemplateBll, USP" />

      <!--操作员管理-->
      <register type="USP.Dal.ISysUserDal, USP" mapTo="USP.Dal.Impl.SysUserDal, USP" />

      <!--银行管理-->
      <register type="USP.Dal.ISysBankDal, USP" mapTo="USP.Dal.Impl.SysBankDal, USP" />
      <register type="USP.Bll.ISysBankBll, USP" mapTo="USP.Bll.Impl.SysBankBll, USP" />

      <!--K3Cloud 关系映射-->
      <register type="USP.Dal.K3CLoud.IEmployeeDal,USP" mapTo="USP.Dal.K3CLoud.Impl.EmployeeDal,USP" />
      <register type="USP.Bll.K3CLoud.IEmployeeBll,USP" mapTo="USP.Bll.K3CLoud.Impl.EmployeeBll,USP" />

      <register type="USP.Dal.K3CLoud.IHRORGDal,USP" mapTo="USP.Dal.K3CLoud.Impl.HRORGDal,USP" />
      <register type="USP.Bll.K3CLoud.IHRORGBll,USP" mapTo="USP.Bll.K3CLoud.Impl.HRORGBll,USP" />

      <register type="USP.Dal.K3CLoud.IBranchDal,USP" mapTo="USP.Dal.K3CLoud.Impl.BranchDal,USP" />
      <register type="USP.Bll.K3CLoud.IBranchBll,USP" mapTo="USP.Bll.K3CLoud.Impl.BranchBll,USP" />
    </container>
  </unity>
</configuration>