@{
    ViewBag.Title = "图表测试";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span>图表
    </div>
</div>
<div style="height:120px;">
    <ul>
        <li><a href="/System/Test/Pie">1.饼状图</a></li>
        <li><a href="/System/Test/Curve">2.柱状曲线图</a></li>
    </ul>

</div>

